<%= form_for @customer, as: :customer do |f| %>
  <div class="row mb-3">
    <div class="col-md-3">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Full Name' %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :contact, class: 'form-control', placeholder: 'Contact Number' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <%= f.text_area :address, class: 'form-control', placeholder: 'Address' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <% btn_title = @customer.persisted? ? 'Update' : 'Add' %>
      <%= f.submit btn_title, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>