<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s12 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Arial";
    font-size: 7pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Arial";
    font-size: 8pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s11 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: "Arial";
    font-size: 7pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s14 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Arial";
    font-size: 7pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s18 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    font-weight: bold;
    color: #000000;
    font-family: "Arial";
    font-size: 8pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s5 {
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Arial";
    font-size: 7pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s7 {
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Arial";
    font-size: 7pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s8 {
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: "Arial";
    font-size: 7pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s6 {
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: "Arial";
    font-size: 7pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s15 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: "Arial";
    font-size: 8pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s9 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Arial";
    font-size: 7pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s16 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: "Arial";
    font-size: 8pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s10 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Arial";
    font-size: 7pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s0 {
    border-top: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Arial";
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s13 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: "Arial";
    font-size: 7pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Arial";
    font-size: 8pt;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Arial";
    font-size: 8pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s4 {
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Arial";
    font-size: 7pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s17 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    font-weight: bold;
    color: #000000;
    font-family: "Arial";
    font-size: 8pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .left-border{
    border-left: 1px SOLID #000000;
  }
</style>
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th id="1794245641C0" style="width: 26px;" class="column-headers-background"></th>
        <th id="1794245641C1" style="width: 149px;" class="column-headers-background"></th>
        <th id="1794245641C2" style="width: 47px;" class="column-headers-background"></th>
        <th id="1794245641C3" style="width: 21px;" class="column-headers-background"></th>
        <th id="1794245641C4" style="width: 66px;" class="column-headers-background"></th>
        <th id="1794245641C5" style="width: 75px;" class="column-headers-background"></th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 36px;">
        <th id="1794245641R0" style="height: 36px;" class="row-headers-background left-border"><div class="row-header-wrapper" style="line-height: 36px;"></div></th>
        <td class="s0" colspan="6"><%= setting.cmp_name %></td>
      </tr>
      <tr style="height: 27px;">
        <th id="1794245641R1" style="height: 27px;" class="row-headers-background left-border"><div class="row-header-wrapper" style="line-height: 27px;"></div></th>
        <td class="s1" colspan="6"><%= setting.cmp_address %></td>
      </tr>
      <tr style="height: 23px;">
        <th id="1794245641R2" style="height: 23px;" class="row-headers-background left-border"><div class="row-header-wrapper" style="line-height: 23px;"></div></th>
        <td class="s2" colspan="4"><span style="font-size: 8pt; font-family: Arial; font-weight: bold;">GST No:</span><span style="font-size: 8pt; font-family: Arial; font-weight: normal;"><%= setting.cmp_gst %></span></td>
        <td class="s2" colspan="2"><span style="font-size: 8pt; font-family: Arial; font-weight: bold;">Order No:</span><span style="font-size: 8pt; font-family: Arial; font-weight: normal;"><%= order.id %></span></td>
      </tr>
      <tr style="height: 23px;">
        <th id="1794245641R3" style="height: 23px;" class="row-headers-background left-border"><div class="row-header-wrapper" style="line-height: 23px;"></div></th>
        <td class="s2" colspan="4"><span style="font-size: 8pt; font-family: Arial; font-weight: bold;">Name:</span><span style="font-size: 8pt; font-family: Arial; font-weight: normal;"><%= order.customer&.name %></span></td>
        <td class="s2" colspan="2"><span style="font-size: 8pt; font-family: Arial; font-weight: bold;">Date:</span><span style="font-size: 8pt; font-family: Arial; font-weight: normal;"><%= order.date.strftime('%d-%b-%Y') %></span></td>
      </tr>
      <tr style="height: 25px;">
        <th id="1794245641R4" style="height: 25px;" class="row-headers-background left-border"><div class="row-header-wrapper" style="line-height: 25px;"></div></th>
        <td class="s3">Sr.</td>
        <td class="s3">Description</td>
        <td class="s3" colspan="2">Qty</td>
        <td class="s3">Rate</td>
        <td class="s3">Amount</td>
      </tr>
      <% order.order_items.each_with_index do |order_item, index| %>
        <tr style="height: 25px;">
          <th id="1794245641R5" style="height: 25px;" class="row-headers-background left-border"><div class="row-header-wrapper" style="line-height: 25px;"></div></th>
          <td class="s4"><%= index + 1 %></td>
          <td class="s5"><%= order_item.item&.name %></td>
          <td class="s6"><%= number_with_precision(order_item.qty.to_f, precision: 3) %></td>
          <td class="s7"><%= order_item.item&.unit %></td>
          <td class="s8"><%= number_with_precision(order_item.rate.to_f, precision: 2) %></td>
          <td class="s8"><%= number_with_precision(order_item.amount.to_f, precision: 2) %></td>
        </tr>
      <% end %>
      <tr style="height: 1px;">
        <th id="1794245641R8" style="height: 1px;" class="row-headers-background left-border"><div class="row-header-wrapper" style="line-height: 1px;"></div></th>
        <td class="s9"></td>
        <td class="s10"></td>
        <td class="s11"></td>
        <td class="s12"></td>
        <td class="s13"></td>
        <td class="s13"></td>
      </tr>
      <tr style="height: 23px;">
        <th id="1794245641R9" style="height: 23px;" class="row-headers-background left-border"><div class="row-header-wrapper" style="line-height: 23px;"></div></th>
        <td class="s14" colspan="3" rowspan="2"><span style="font-size: 7pt; font-family: Arial; font-weight: bold;">Note: </span><span style="font-size: 7pt; font-family: Arial; font-weight: normal;">This is for just note</span></td>
        <td class="s15" colspan="2">Discount:</td>
        <td class="s16"><%= number_with_precision(order.discount.to_f, precision: 2) %></td>
      </tr>
      <tr style="height: 23px;">
        <th id="1794245641R10" style="height: 23px;" class="row-headers-background left-border"><div class="row-header-wrapper" style="line-height: 23px;"></div></th>
        <td class="s17" colspan="2">Total:</td>
        <td class="s18"><%= number_with_precision(order.net_amount.to_f, precision: 2) %></td>
      </tr>
    </tbody>
  </table>
</div>
